@import url("./_plugins.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #f1f1f1;
}
@layer utils {
    .transition-300 {
        @apply transition-all duration-300;
    }

    .absolute-x {
        @apply absolute !-translate-x-1/2 !left-1/2;
    }

    .absolute-y {
        @apply absolute !-translate-y-1/2 !top-1/2;
    }

    .absolute-center {
        @apply absolute-x absolute-y;
    }

    .flex-y-center {
        @apply flex items-center;
    }

    .flex-x-center {
        @apply flex justify-center;
    }

    .flex-center {
        @apply flex justify-center items-center;
    }

    .flex-center-between {
        @apply flex justify-between items-center;
    }

    .flex-between {
        @apply flex justify-between;
    }
}
@layer components {
    .greenGradient {
        background: linear-gradient(135deg, #83c805 21.26%, #5bb600 78.74%);
    }
}
.el-select__wrapper {
    border-radius: 20px !important;
    border: 1px solid #ddd !important;
    padding: 12px 16px !important;
    padding-right: 20px;
    min-width: 190px;
    font-size: 14px;
    color: #333;
    background-color: #fff;
    outline: none !important;
    cursor: pointer;
    transition: all 0.3s ease !important;
    box-shadow: 0px 0px 0px #7dba28 !important;
}

.el-select__wrapper:hover {
    border-color: #7dba28 !important;
}

.el-select__wrapper:focus {
    border-color: #7dba28 !important;
    box-shadow: 1px 1px 1px #7dba28 !important;
}

